<!-- Footer -->
<footer>
    <div class="bg-footer">
        <div class="row">
            <div class="col wrapper-box-footer" routerLink="/promotion">
                <div class="wrapper-text-footer">
                    รายละเอียด
                </div>

            </div>
            <div class="col wrapper-box-footer" routerLink="/pramoonregister">
                <div class="wrapper-text-footer">
                    สร้าง WEB
                </div>
            </div>
            <div class="col wrapper-box-footer" routerLink="/other">
                <div class="wrapper-text-footer">
                    เพิ่มเติม
                </div>
            </div>
        </div>
    </div>
</footer>