<ngx-spinner>
</ngx-spinner>
<div class="wrapper-post-content">
    <form #userlogin="ngForm" (ngSubmit)="onClickSubmit(userlogin.value)" class="wrapper-bid">
        <div class="container pt-3">
            <fieldset disabled>
                <div class="form-group">
                    <label for="disabledTextInput" class="text-white">เจ้าของพระ {{list.displayName}}</label>
                    <!-- <div class="row">
                        <div class="col">
                            <input type="text" value="{{firstname}}" id="firstname" class="form-control" placeholder="firstname" readonly>
                        </div>
                        <div class="col">
                            <input type="text" value="{{lastname}}" id="lastname" class="form-control" placeholder="lastname" readonly>
                        </div>

                    </div> -->
                    <div class="row">
                        <div class="col p-4 d-flex justify-content-center" *ngIf="list.pictureUrl!=null">
                            <img class="card-img-top" [src]="list.pictureUrl" alt="Card image cap">
                        </div>
                    </div>




                </div>
                <!-- <div class="form-group">
                    <label for="disabledTextInput" class="text-white">E-mail</label>
                    <input type="text" value="{{email}}" id="tel" class="form-control" placeholder="email" readonly>
                </div>
                <div class="form-group">
                    <label for="disabledTextInput" class="text-white">เบอร์ติดต่อ</label>
                    <input type="text" value="{{tel}}" id="tel" class="form-control" placeholder="tel" readonly>
                </div> -->
            </fieldset>
        </div>
        <div class="container pt-3">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">ราคาเริ่มต้น</span>
                </div>
                <input type="text" value="{{pricestart}}" id="pricestart" class="form-control current-price" placeholder="tel" readonly>
                <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                </div>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">ราคาประมูลล่าสุด!!!</span>
                </div>
                <input type="text" value="{{pricebidend||pricestart}}" id="pricebidend" class="form-control current-price" readonly>
                <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">ราคาประมูล</span>
                </div>
                <input [ngClass]="{'error-red': iserror}" type="number" class="form-control current-bid" ngModel ngDefaultControl rows="5" cols="60" required name="priceBid" aria-label="Amount (to the nearest dollar)">
                <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                </div>
            </div>
            <!-- <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">รายละเอียด</span>
                </div>
                <textarea class="form-control wrapper-text-area" ngModel ngDefaultControl name="description" rows="5" cols="60" required></textarea>
            </div> -->
        </div>
        <div class="wrapper-input p-3">
            <button type="submit" value="submit" class="btn btn-secondary w-100  wrapper-font-btn">ยืนยัน</button>
        </div>

    </form>
</div>