agm-map {
    height: 300px;
}

* {
    font-family: 'Kanit', sans-serif !important;
}

.ct {
    text-align: -webkit-center;
    color: white;
    font-family: "Charmonman", cursive !important;
    padding: 18px;
}