.wrapper-title {
    text-align: center;
    font-size: 2rem;
    margin-top: 15%;
}

body {
    font-family: 'Bai Jamjuree', sans-serif !important;
    font-weight: 800 !important;
    background-color: black !important;
    /* For browsers that do not support gradients */
    // background-image: linear-gradient(red, black);
    /* Standard syntax (must be last) */
    font-size: 2rem !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    // background: green !important;
    font-weight: 300;
    color: #cdbfe3;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
html{
  max-width: 480px;
  margin: auto;
}

.wrapper-bg {
    min-height: 150vh;
}

.swal2-html-container {
    display: block;
    font-size: 1rem;
    color: red;
    word-break: break-word;
}

.swal2-cancel {
    font-size: 1rem;
}

.swal2-confirm {
    font-size: 1rem;
}

.wrapper-back {
    font-size: 2rem;
    margin-top: 20%;
    text-indent: 8px;
    border-style: hidden;
    width: 22%;
    padding: -1%;
    border: dashed;
    margin-left: 3%;
    margin-bottom: -20%;
}

.wrapper-title-header {
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 5px;
    padding-top: 10%;
}

.wrapper-image {
    background: black !important;
}

.hr-1 {
    border-top: 4px dashed white;
}

.wrapper-scroll {
    min-height: 90vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
