.wrapper-title {
    text-align: center;
    font-size: 7vw;
}

body {
    font-family: 'Mitr', sans-serif !important;
    background-color: black !important;
}

.wrapper-bg {
    min-height: 150vh;
}