.wrapper-title {
    text-align: center;
    font-size: 7vw;
}

body {
    font-family: 'Charmonman', cursive !important;
    // background: url('/app/src/assets/image/bg_thai.jpg') center center !important;
    background: url(https://upload-file-pra-1.s3-ap-southeast-1.amazonaws.com/assets-pra/66091330-stock-vector-thai-art-pattern-on-black-background-vector-illustration.jpg) center;
    background-size: auto;
    width: 100%;
    min-height: 68vh;
    font-size: 7vw !important;
}

.wrapper-bg {
    min-height: 150vh;
}