<!-- <div class="owl-carousel owl-theme">
    <div class="item" *ngFor="let item of list">
        <img [src]="item.imageone">
    </div>
</div>

 -->

<div class="wrapper-title-header">
    รายการพระเครื่อง
</div>
<!-- 
<div class="img__wrapper">
    <img src="http://www.savoy-sharm.com/media-room/images/hi-res/king-bed-room-accommodation-savoy-luxury-5-stars-accommodation-sharm-el-sheikh.jpg" alt="" />
    <a class="sold_out" href="https://abc.com/">Sold out</a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, tempore?</p>
</div> -->

<div class="wrapper-list" *ngIf="list!=null">

    <div class="owl-carousel owl-theme card" *ngFor="let item of list; let indexliistselect = index">



        <div [ngClass]="{'no-tuch-sold-out': item.status =='close'}" routerLink="/list/detail/{{item.id_token}}/{{indexliistselect}}">
            <div class="item" [ngClass]="{'img__wrapper': item.status =='close'}">
                <div *ngIf="item.status=='close'">
                    <img src="http://www.savoy-sharm.com/media-room/images/hi-res/king-bed-room-accommodation-savoy-luxury-5-stars-accommodation-sharm-el-sheikh.jpg" alt="" />
                    <a class="sold_out" href="https://abc.com/">บูชาแล้ว</a>
                </div>

                <img [ngClass]="{'filter_img__wrapper': item.status =='close'}" [src]="item.imageone" class="owl-lazy float-left wrapper-image" alt="...">
                <div class="wrapper-content-list">

                    <div class="wrapper-detial-price">
                        เริ่มที่ {{item.pricestart}} บาท
                    </div>
                    <div class="wrapper-detial">
                        {{item.name}}
                    </div>
                    <div class="wrapper-detial">
                        {{item.description}}
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <img [src]="item.imagetwo" class="owl-lazy float-left wrapper-image" alt="...">
            <div class="wrapper-content-list">
                <div class="wrapper-detial-price">
                    {{item.pricestart}} บาท
                </div>
                <div class="wrapper-detial">
                    {{item.name}}
                </div>
                <div class="wrapper-detial">
                    {{item.description}}
                </div>
            </div>
        </div>
        <div class="item">
            <img [src]="item.imagethree" class="owl-lazy float-left wrapper-image" alt="...">
            <div class="wrapper-content-list">
                <div class="wrapper-detial-price">
                    {{item.pricestart}} บาท
                </div>
                <div class="wrapper-detial">
                    {{item.name}}
                </div>
                <div class="wrapper-detial">
                    {{item.description}}
                </div>
            </div>
        </div>
        <div class="item">
            <img [src]="item.imagefour" class="owl-lazy float-left wrapper-image" alt="...">
            <div class="wrapper-content-list">
                <div class="wrapper-detial-price">
                    {{item.pricestart}} บาท
                </div>
                <div class="wrapper-detial">
                    {{item.name}}
                </div>
                <div class="wrapper-detial">
                    {{item.description}}
                </div>
            </div>
        </div>

    </div>

</div>