.wrapper-list {
    width: 100%;
    padding-bottom: 20vh;
}

.wrapper-image {
    width: 100%;
    padding-bottom: 5vh;
    margin-top: -5%;
}

.wrapper-detial {
    // padding: 20px;
    font-size: 7vw;
    margin: 12px;
}

.wrapper-detial-price {
    // padding: 20px;
    font-size: 7vw;
    margin: 12px;
    color: #24ff42;
    ;
}

.wrapper-title-header {
    color: white;
    text-align: center;
    font-size: 10vw;
    padding: 5px;
}

.owl-carousel {
    box-shadow: inset 0px 0px 20px 20px #000000;
    background: url("https://upload-file-pra-1.s3-ap-southeast-1.amazonaws.com/assets-pra/mainbgImgUrl.jpg") center !important;
    background-size: 94% auto;
    width: 100%;
    min-height: 68vh;
    color: white;
}

//ปิดการขาย
.no-tuch-sold-out {
    pointer-events: none;
}

.img__wrapper {
    position: relative;
    overflow: hidden;
}

.filter_img__wrapper {
    filter: grayscale(100%);
}

.img__wrapper img {
    width: 100%;
}

.sold_out {
    top: 2em;
    left: -4em;
    color: #fff;
    display: block;
    position: absolute;
    text-align: center;
    text-decoration: none;
    letter-spacing: .06em;
    background-color: #A00;
    padding: 0.5em 5em 0.4em 5em;
    text-shadow: 0 0 0.75em #444;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
    font: bold 16px/1.2em Arial, Sans-Serif;
    -webkit-text-shadow: 0 0 0.75em #444;
    -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(-45deg) scale(0.75, 1);
    z-index: 10;
}

.sold_out:before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: -0.3em -5em;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    border: 2px rgba(255, 255, 255, 0.7) dashed;
}

//ปิดการขาย
//ตรวจสอบพระ สถานะ
.wrapper-ball {
    height: auto;
    width: 200px !important;
    position: absolute;
    top: -50px;
    left: -3%;
}

.wrapper_pra_true {
    height: auto;
    width: 10% !important;
    position: absolute;
    top: -7px;
    left: 30%;
}

.wrapper_pra_false {
    height: auto;
    width: 10% !important;
    position: absolute;
    top: -7px;
    left: 30%;
}

.wrapper_pra_criminals {
    height: auto;
    width: 10% !important;
    position: absolute;
    top: -20px;
    left: 15%;
}

.checking {
    position: absolute;
    left: 33%;
    top: 10%;
    font-size: 6vw;
    white-space: nowrap;
    color: white;
}

.wrapper-box-status {
    padding-bottom: 10%;
}

.like {
    position: absolute;
    left: 43%;
    top: -9%;
    font-size: 9vw;
    white-space: nowrap;
    color: #1ef327;
}

.un-like {
    position: absolute;
    left: 43%;
    top: -45%;
    font-size: 9vw;
    white-space: nowrap;
    color: red;
}

.criminals {
    position: absolute;
    left: 32%;
    top: -45%;
    font-size: 9vw;
    white-space: nowrap;
    color: red;
}

.zoom:hover {
    transform: scale(1.5);
}

//ตรวจสอบพระ สถานะ