.wrapper-bg-promotion{
  font-family: "Bai Jamjuree", sans-serif !important;
  font-size: 2rem !important;
  background: url(https://image.freepik.com/free-photo/close-up-man-writing-code-laptop_158595-5169.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;

}

.wrapper-title-header-promotion {
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 5px;
}

.dotted {
    border: dashed;
    color: white;
    font-size: 1rem;
    margin: 10px;
}

.bg-black {
    background: #333;
}

.wrapper-scroll {
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.wrapper-btn {
    color: white;
    font-size: 1rem;
    margin: 10px;
    border-radius: 24px;
}

.card {
    background-color: #07363d63;
}
