<!-- Facebook Pixel Code -->
<script>
    ! function(f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function() {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '304393414027780');
    fbq('track', 'Promotion');
</script>
<noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=304393414027780&ev=Promotion&noscript=1"
          /></noscript>
<!-- End Facebook Pixel Code -->

<div class="wrapper-title-header"> สร้างเว็บตัวช่วยปิดการขาย
</div>

<div class="container mt-4 text-center">

    <!-- <div class="mt-4 wrapper-title-header-promotion dotted">1.ทดลองใช้ฟรี 7 วัน
    </div>

    <div class="mt-4 wrapper-title-header-promotion dotted">2.รายเดือน <span style="color: greenyellow;">199</span> <br><span style="color: orange;">( ช่างโปรโมชั่นจาก 299 )</span>
    </div>

    <div class="mt-4 wrapper-title-header-promotion dotted">3.รายปี<span style="color: greenyellow;">1,800</span> <br><span style="color: orange;">( ช่างโปรโมชั่น จาก 3,588 )</span>
    </div> -->

    <div class="bg-warning text-white jumbotron jumbotron-fluid  rounded-lg">
        <div class="container">

            <h4 class="font-weight-bold">บริการทดลองใช้งาน</h4>
            <p class="lead font-weight-bold">ทดลองใช้ฟรี 7 วัน</p>
            <svg class="bi bi-tag float-right" width="2em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M.5 2A1.5 1.5 0 012 .5h4.586a1.5 1.5 0 011.06.44l7 7a1.5 1.5 0 010 2.12l-4.585 4.586a1.5 1.5 0 01-2.122 0l-7-7A1.5 1.5 0 01.5 6.586V2zM2 1.5a.5.5 0 00-.5.5v4.586a.5.5 0 00.146.353l7 7a.5.5 0 00.708 0l4.585-4.585a.5.5 0 000-.708l-7-7a.5.5 0 00-.353-.146H2z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M2.5 4.5a2 2 0 114 0 2 2 0 01-4 0zm2-1a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"/>
              </svg>
        </div>
    </div>
    <div class="bg-danger text-white jumbotron jumbotron-fluid  rounded-lg">
        <div class="container">
            <h4 class="font-weight-bold">จ่ายแบบสั้น รายเดือน</h4>
            <p class="lead font-weight-bold">รายเดือน <span>199 บาท</span> <br><span style="color: orange;">( ช่างโปรโมชั่นจาก 299 )</span></p>
            <svg class="bi bi-tag float-right" width="2em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M.5 2A1.5 1.5 0 012 .5h4.586a1.5 1.5 0 011.06.44l7 7a1.5 1.5 0 010 2.12l-4.585 4.586a1.5 1.5 0 01-2.122 0l-7-7A1.5 1.5 0 01.5 6.586V2zM2 1.5a.5.5 0 00-.5.5v4.586a.5.5 0 00.146.353l7 7a.5.5 0 00.708 0l4.585-4.585a.5.5 0 000-.708l-7-7a.5.5 0 00-.353-.146H2z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M2.5 4.5a2 2 0 114 0 2 2 0 01-4 0zm2-1a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"/>
              </svg>
        </div>
    </div>
    <div class="bg-info text-white jumbotron jumbotron-fluid rounded-lg">
        <div class="container">
            <h4 class="font-weight-bold">เหมาจ่ายยาวๆ สุดคุ้ม</h4>
            <p class="lead font-weight-bold">รายปี <span> 1,800 บาท</span> <br><span style="color: orange;">( ช่างโปรโมชั่น จาก 3,588 )</span></p>
            <svg class="bi bi-tag float-right" width="2em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M.5 2A1.5 1.5 0 012 .5h4.586a1.5 1.5 0 011.06.44l7 7a1.5 1.5 0 010 2.12l-4.585 4.586a1.5 1.5 0 01-2.122 0l-7-7A1.5 1.5 0 01.5 6.586V2zM2 1.5a.5.5 0 00-.5.5v4.586a.5.5 0 00.146.353l7 7a.5.5 0 00.708 0l4.585-4.585a.5.5 0 000-.708l-7-7a.5.5 0 00-.353-.146H2z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M2.5 4.5a2 2 0 114 0 2 2 0 01-4 0zm2-1a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"/>
              </svg>
        </div>
    </div>
    <div class="card mt-4" style="border-radius: 24px;">
        <div class="font-weight-bold mt-4 wrapper-title-header-promotion wrapper-btn shadow-lg p-2 btn btn-secondary" (click)="Getlink()" style="background: #333;" [hidden]="((diffDays)<=0)">
            ดูตัวอย่าง เว็บ
        </div>
        <div class="font-weight-bold mt-4 wrapper-title-header-promotion wrapper-btn shadow-lg p-2 btn btn-secondary" (click)="coppylink()" style="background: #333; " [hidden]="((diffDays)<=0)">
            Coppy Link เว็บ (คลิ๊ก)
        </div>
        <div class="font-weight-bold bg-black mt-4 wrapper-title-header-promotion wrapper-btn shadow-lg p-2 btn btn-secondary" [hidden]="!diffDays ">
            ลิ้ง ของคุณจะหมดอายุ ภายใน {{datetotal}} วัน
        </div>

        <div class="font-weight-bold mt-4 wrapper-title-header-promotion wrapper-btn" (click)="gotobill();" style="background: #333;">ชำระค่าใช้จ่าย
        </div>

        <div class="font-weight-bold bg-black mt-4 wrapper-title-header-promotion " style="font-size: 1rem;color: orange;">
            ***หมายหตุ เมื่อหมดอายุระบบจะปิดระบบแจ้งเตือน order สั่งของจากลูกค้า
        </div>

    </div>
    <div style="padding-bottom: 15vh;">

    </div>

</div>