<div class="wrapper-bg-promotion">


  <script>
    ! function (f, b, e, v, n, t, s) {
      if (f.fbq) return;
      n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n;
      n.push = n;
      n.loaded = !0;
      n.version = '2.0';
      n.queue = [];
      t = b.createElement(e);
      t.async = !0;
      t.src = v;
      s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '304393414027780');
    fbq('track', 'Promotion');

  </script>
  <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=304393414027780&ev=Promotion&noscript=1" /></noscript>


  <div class="wrapper-title-header"> สร้างเว็บกับเราฟรีง่ายๆ
  </div>

  <div class="container mt-4 text-center">



    <div class="bg-warning text-white jumbotron jumbotron-fluid  rounded-lg">
      <div class="container">

        <h4 class="font-weight-bold">เว็บไซต์ใช้งานฟรี</h4>
        <p class="lead font-weight-bold"></p>
        <svg class="bi bi-tag float-right" width="2em" height="1.5em" viewBox="0 0 16 16" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M.5 2A1.5 1.5 0 012 .5h4.586a1.5 1.5 0 011.06.44l7 7a1.5 1.5 0 010 2.12l-4.585 4.586a1.5 1.5 0 01-2.122 0l-7-7A1.5 1.5 0 01.5 6.586V2zM2 1.5a.5.5 0 00-.5.5v4.586a.5.5 0 00.146.353l7 7a.5.5 0 00.708 0l4.585-4.585a.5.5 0 000-.708l-7-7a.5.5 0 00-.353-.146H2z"
            clip-rule="evenodd" />
          <path fill-rule="evenodd" d="M2.5 4.5a2 2 0 114 0 2 2 0 01-4 0zm2-1a1 1 0 100 2 1 1 0 000-2z"
            clip-rule="evenodd" />
        </svg>
      </div>
    </div>
    <div class="bg-danger text-white jumbotron jumbotron-fluid  rounded-lg">
      <div class="container">
        <h4 class="font-weight-bold">ไม่มีค่าใช้จ่าย</h4>
        <p class="lead font-weight-bold">รายได้มาจากการบริจาค เท่านั้น <span>แล้วแต่ลูกค้าจะให้</span> <br><span
            style="color: orange;">( ทำมาเพื่อช่วยเหลือเท่านั้น )</span></p>
        <svg class="bi bi-tag float-right" width="2em" height="1.5em" viewBox="0 0 16 16" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M.5 2A1.5 1.5 0 012 .5h4.586a1.5 1.5 0 011.06.44l7 7a1.5 1.5 0 010 2.12l-4.585 4.586a1.5 1.5 0 01-2.122 0l-7-7A1.5 1.5 0 01.5 6.586V2zM2 1.5a.5.5 0 00-.5.5v4.586a.5.5 0 00.146.353l7 7a.5.5 0 00.708 0l4.585-4.585a.5.5 0 000-.708l-7-7a.5.5 0 00-.353-.146H2z"
            clip-rule="evenodd" />
          <path fill-rule="evenodd" d="M2.5 4.5a2 2 0 114 0 2 2 0 01-4 0zm2-1a1 1 0 100 2 1 1 0 000-2z"
            clip-rule="evenodd" />
        </svg>
      </div>
    </div>
    <div class="bg-info text-white jumbotron jumbotron-fluid rounded-lg">
      <div class="container">
        <h4 class="font-weight-bold">ใช้งานง่าย เปลี่ยรูปได้ <br> จำกัด 1 Line ได้ 1 เว็บไซต์</h4>
        <svg class="bi bi-tag float-right" width="2em" height="1.5em" viewBox="0 0 16 16" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M.5 2A1.5 1.5 0 012 .5h4.586a1.5 1.5 0 011.06.44l7 7a1.5 1.5 0 010 2.12l-4.585 4.586a1.5 1.5 0 01-2.122 0l-7-7A1.5 1.5 0 01.5 6.586V2zM2 1.5a.5.5 0 00-.5.5v4.586a.5.5 0 00.146.353l7 7a.5.5 0 00.708 0l4.585-4.585a.5.5 0 000-.708l-7-7a.5.5 0 00-.353-.146H2z"
            clip-rule="evenodd" />
          <path fill-rule="evenodd" d="M2.5 4.5a2 2 0 114 0 2 2 0 01-4 0zm2-1a1 1 0 100 2 1 1 0 000-2z"
            clip-rule="evenodd" />
        </svg>
      </div>
    </div>
    <div class="card mt-4" style="border-radius: 24px;">
      <div class="font-weight-bold mt-4 wrapper-title-header-promotion wrapper-btn shadow-lg p-2 btn btn-secondary"
        (click)="Getlink()" style="background: #333;" [hidden]="((diffDays)<=0)">
        ดูตัวอย่าง เว็บ
      </div>
      <div class="font-weight-bold mt-4 wrapper-title-header-promotion wrapper-btn shadow-lg p-2 btn btn-secondary"
        (click)="coppylink()" style="background: #333; " [hidden]="((diffDays)<=0)">
        เมื่อสร้างเสร็จ Coppy Link เว็บ (คลิ๊ก)<br> ไปใช้
      </div>
      <div class="font-weight-bold mt-4 wrapper-title-header-promotion wrapper-btn" (click)="gotobill();"
        style="background: #333;">บริจากเพื่อเป็นทุนในการพัฒนา
      </div>

      <div class="font-weight-bold bg-black mt-4 wrapper-title-header-promotion "
        style="font-size: 1rem;color: orange;">
        ***หมายหตุ เว็บไซต์ช่วยลูกค้าในการขายสินค้า หรือ โปรโมท สินค้า <br>(ห้ามนำไปใช้
        เกี่ยวกับการพนันหรือยุ่งเกี่ยวกับสิ่งผิดกฏหมายถ้าตรวจผมจะปิดทันที)
      </div>
    </div>
    <div style="padding-bottom: 15vh;">
    </div>
  </div>
</div>
