<div class="wrapper-title text-white">
    กิจกรรม รายละเอียดเพิ่มเติม</div>
<div class="container text-white wrapper-other-font">
    <!-- <p>The ol element defines an ordered list:</p> -->
    <div class="p-2 pt-3">
        <div class="btn btn-secondary w-100" routerLink="/landing"><span class="h3">หน้าแรก</span></div>
    </div>
    <div class="p-2">
        <div class="btn btn-secondary w-100" routerLink="/history"><span class="h3">ประวัติกาทำรายการ ปิดการประมูล</span></div>
    </div>
    <div class="p-2">
        <div class="btn btn-secondary w-100"><span class="h3">สะสมพระ(เร็วๆนี้)</span></div>
    </div>


    <!-- 
    <p>The ul element defines an unordered list:</p>
    <ul>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
    </ul> -->
</div>