.custom-control-label {
    text-indent: 30px;
}

//upload image
.wrapper-upload {
    min-height: 30vh;
    background-color: #d8d8d8;
    border: dotted;
    border-color: white;
    margin: 10px;
    font-size: 5vw;
    text-align: center;
    padding: 0;
}

// .bg-gold {
//     background: url(https://cdn.pixabay.com/photo/2016/02/19/15/29/frame-1210511_960_720.png) no-repeat center center;
//     background-size: contain;
//     min-height: 66vw;
//     width: 100%;
// }
.hiddenFileInput>input {
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.hiddenFileInput {
    // width: 100px;
    height: auto;
    display: inline-block;
    overflow: hidden;
    /*for the background, optional*/
    background: center center no-repeat;
    background-size: 75% 75%;
    position: relative;
}

//upload image
.wrapper-title-pramool {
    font-size: 10vw;
}

.f-s {
    font-size: 6vw;
}

.wrapper-input {
    padding-bottom: 30vh !important;
}

.click-heigth {
    height: 20vh;
}

.wrapper-title-upload {
    color: white;
    font-size: 7vw;
}

.non-active {
    background-color: black;
    opacity: 0.9;
    pointer-events: none;
}

.post-click {
    background: url(https://upload-file-pra-1.s3-ap-southeast-1.amazonaws.com/assets-pra/touch-here.gif) no-repeat center center;
    background-size: contain;
    height: 60%;
    position: absolute;
    left: 15%;
}