<form #userlogin="ngForm" (ngSubmit)="onClickSubmit(userlogin.value)" [hidden]="(regsiterprofile.bill_status =='หมดอายุ') || Isshowsoldout ">
    <div class="container">

        <img src="{{ordernow_img}}" class="w-100 border-product rounded" alt="Italian Trulli " [hidden]="!ordernow_img">
        <div class="wrapper-title-header-contact ">ประเภทการชำระเงิน</div>
        <div class="row pt-4">
            <div class="custom-control custom-radio text-center m-auto">
                <input (click)="checkIsshowbank(1)" id="one" type="radio" class="custom-control-input" value="โอนเงิน" name="type" ngModel>
                <label class="custom-control-label text-white" for="one">โอนเงิน</label>
            </div>

            <div class="custom-control custom-radio text-center m-auto">
                <input (click)="checkIsshowbank(2)" id="two" type="radio" class="custom-control-input" value="เก็บเงินปลายทาง" name="type" ngModel>
                <label class="custom-control-label text-white" for="two">เก็บเงินปลาทาง</label>
            </div>
        </div>
        <div class="wrapper-title-header-contact ">ราคาสินค้า {{ordernow[0] |number}} บาท</div>
        <div>
            <div class="row pt-4">
                <div class="col text-white f-s text-center">
                    จำนวนสินค้า(ชิ้น)
                </div>
                <div class="col">
                    <input class="form-control text-center" type="number" min="1" max="100" name="countproduct" placeholder="จำนวนสินค้า" [(ngModel)]="countproduct">
                </div>
            </div>
            <!-- <div class="text-left"><span class="text-info" style="font-size: 0.8rem;">(มีสินค้าทั้งหมด {{ordernow[2]}} ชิ้น)</span></div> -->
        </div>
        <div>
            <div class="row pt-4">
                <div class="col text-white f-s text-center">
                    ยอดโอนเงิน
                </div>
                <div class="col">
                    <input class="form-control text-center" type="number" name="pricepay" placeholder="ยอดโอนเงิน" [(ngModel)]="countproduct*ordernow[0]">
                </div>
            </div>
        </div>
        <div>
            <div class=" row pt-4 ">
                <div class="col text-white f-s text-center ">
                    ชื่อ-นามสกุล
                </div>
                <div class="col ">
                    <input class="form-control text-center " type="text " name="name_order " placeholder="ชื่อ-นามสกุล " ngModel>
                </div>
            </div>
        </div>
        <div>
            <div class="row pt-4 ">
                <div class="col text-white f-s text-center ">
                    เบอร์ติดต่อ
                </div>
                <div class="col ">
                    <input class="form-control text-center " type="tel" name="tel" placeholder="เบอร์ติดต่อ " ngModel>
                </div>
            </div>
        </div>
        <div class="wrapper-upload-slip " [hidden]="!Isshowbank ">
            <div class="container wrapper-bank ">
                <div class="row wrapper-p15 " [hidden]="listdetail.bank_KBANK=='null' || listdetail.bank_KBANK=='' ">
                    <div class="col bank1 ">
                    </div>
                    <div class="col wrapper-num-bank ">
                        {{listdetail.bank_KBANK}}
                    </div>
                </div>
                <div class="row wrapper-p15 " [hidden]="listdetail.bank_SCB=='null' || listdetail.bank_SCB=='' ">
                    <div class="col bank2 ">
                    </div>
                    <div class="col wrapper-num-bank ">
                        {{listdetail.bank_SCB}}
                    </div>
                </div>
                <div class="row wrapper-p15 " [hidden]="listdetail.bank_KTB=='null' || listdetail.bank_KTB=='' ">
                    <div class="col bank3 ">
                    </div>
                    <div class="col wrapper-num-bank ">
                        {{listdetail.bank_KTB}}
                    </div>
                </div>
                <div class="row wrapper-p15 " [hidden]="listdetail.bank_BBL=='null' || listdetail.bank_BBL=='' ">
                    <div class="col bank4 ">
                    </div>
                    <div class="col wrapper-num-bank ">
                        {{listdetail.bank_BBL}}
                    </div>
                </div>

            </div>
            <div class="file-input-wrapper ">
                <div class="wrapper-upload-file ">
                    อัพโหลดสลิป(คลิ๊ก)
                </div>
                <input type='file' (change)="readURL($event) " />
                <div class="p-t-30 ">
                    <img class="img-fluid wrapper-uploaded " [src]="temp_path_image1 ">
                </div>
            </div>

        </div>
    </div>
    <div class="input-group wrapper-desc ">
        <div class="input-group-prepend ">
            <span class="input-group-text ">ที่อยู่</span>
        </div>
        <textarea class="form-control wrapper-text-area " ngModel ngDefaultControl name="deliveryaddress" rows="5 " cols="60 " required></textarea>
    </div>
    <div class="input-group wrapper-desc ">
        <div class="input-group-prepend ">
            <span class="input-group-text ">รายละเอียดเพิ่มเติม</span>
        </div>
        <textarea class="form-control wrapper-text-area " ngModel ngDefaultControl name="description" rows="5 " cols="60 " required></textarea>
    </div>
    <div class="wrapper-title-header-contact ">{{ordernow[1]}}</div>
    <div class="wrapper-input wrapper-btn-bill ">
        <button type="submit " value="submit " class="btn btn-secondary w-100 wrapper-font-btn ">ยืนยัน</button>
    </div>
    <div class="wrapper-title-header-contact " [hidden]="listdetail.shopee=='null' ">ช่องทาง Shopee</div>
    <div class="shopee " [hidden]="listdetail.shopee=='null' " (click)="clickshopee(listdetail.shopee) ">

    </div>
    <div class="wrapper-title-header-contact " [hidden]="listdetail.lazada=='null' ">ช่องทาง LAZADA</div>
    <div class="lazada " [hidden]="listdetail.lazada=='null' " (click)="clicklazada(listdetail.lazada) ">
    </div>
</form>