.wrapper-home {
    height: 200vh;
    width: 100%;
    overflow-y: scroll;
}

.card-img-top {
    float: right;
    margin: 15px;
    width: 42%;
    border-radius: 50%;
    box-shadow: 1px 3px 17px 9px rgba(0, 0, 0, 0.5);
}

.card {
    background-color: black;
    .card-text {
        color: wheat;
        font-size: 6vw;
    }
    .card-title {
        color: #baccff;
        font-size: 6vw;
    }
}