<div class="wrapper-home" *ngIf="GetProfilelist!=null">
    <div class="card mb-3">
        <div>
            <img class="card-img-top" [src]="GetProfilelist.pictureUrl" alt="Card image cap">
        </div>
        <div class="card-body shadow">
            <h5 class="card-title">ยินต้อนรับ <br>Name {{GetProfilelist.displayName}} {{GetProfilelist.statusMessage}}</h5>
            <p class="card-text">หลวงปู่ทวดเนื้อว่าน ปี 2524 ที่จัดทำขึ้น แยกออกเป็น 4 พิมพ์ <br> คือ 1.พิมพ์ใหญ่ <br>2.พิมพ์กลาง <br>3.พิมพ์พระรอด <br>4.พิมพ์กรรมการ จำนวนการสร้างพิมพ์กรรมการ จำนวน 2000 องค์ ส่วนพิมพ์อื่นๆ รวมกันประมาณ 2-3 แสนองค์<br> โดยพิมพ์กลางจะเป็นพิมพ์ที่มีจำนวนมากสุด
                รองลงมาคือพิมพ์ใหญ่ และพิมพ์พระรอดจะมีจำนวนน้อยสุด <br></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <div class="card-body shadow">
            <h5 class="card-title">พิมพ์ใหญ่ </h5>
            <p class="card-text">พิมพ์ใหญ่ องค์หลวงปู่จะนั่งอยู่บนฐานบัว สังเกตฐานบัวจะมี 7 คู่ พิมพ์หน้าจะดูใหญ่เคร่งขรึม ขนาดองค์จะมีขนาดใหญ่กว่า</p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
        <img class="card-img-bottom" src="https://img-188.uamulet.com/uauctions/AU364/2014/6/29/U03924176353965322937650381.jpg" alt="Card image cap">
    </div>
    <div class="card">
        <div class="card-body shadow">
            <h5 class="card-title">พิมพ์กลาง </h5>
            <p class="card-text">พิมพ์กลาง องค์หลวงปู่จะนั่งอยู่บนฐานบัว สังเกตฐานบัวจะมี 9 คู่ </p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
        <img class="card-img-bottom" src="https://fq.lnwfile.com/wte981.jpg" alt="Card image cap">
    </div>
    <div class="card">
        <div class="card-body shadow">
            <h5 class="card-title">พิมพ์พระรอด </h5>
            <p class="card-text">พิมพ์พระรอด องค์หลวงปู่จะนั่งอยู่บนฐานบัว สังเกตฐานบัวจะมี 5 คู่ </p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
        <img class="card-img-bottom" src="https://img-196.uamulet.com/uauctions/AU364/2019/3/1/U17017346368704345750776481.jpg" alt="Card image cap">
    </div>
</div>