<ngx-spinner>
</ngx-spinner>
<div class="wrapper-home" *ngIf="GetProfilelist!=null">
    <div class="card mb-3 mt-4">
        <div class="text-center">
            <img class="card-img-top" [src]="GetProfilelist.pictureUrl" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">ยินต้อนรับ <br>Name {{GetProfilelist.displayName}} {{GetProfilelist.statusMessage}}</h5>

        </div>
    </div>
    <div class="mt-4 wrapper-title-header-promotion dotted" (click)="gotopath()" style="background: #333;">
        ดูตัวอย่าง เว็บ
    </div>

    <div class="owl-carousel owl-theme pt-4">
        <div *ngFor="let item of preview">
            <div class="item">
                <img src="{{item}}" class="w-100 rounded" alt="Italian Trulli " [hidden]="!item">
            </div>
        </div>
    </div>
    <!-- <div class="card">
        <div class="card-body shadow">
            <h5 class="card-title">พิมพ์ใหญ่ </h5>
            <p class="card-text">พิมพ์ใหญ่ องค์หลวงปู่จะนั่งอยู่บนฐานบัว สังเกตฐานบัวจะมี 7 คู่ พิมพ์หน้าจะดูใหญ่เคร่งขรึม ขนาดองค์จะมีขนาดใหญ่กว่า</p>
           
        </div>
        <img class="card-img-bottom" src="https://img-188.uamulet.com/uauctions/AU364/2014/6/29/U03924176353965322937650381.jpg" alt="Card image cap">
    </div>
    <div class="card">
        <div class="card-body shadow">
            <h5 class="card-title">พิมพ์กลาง </h5>
            <p class="card-text">พิมพ์กลาง องค์หลวงปู่จะนั่งอยู่บนฐานบัว สังเกตฐานบัวจะมี 9 คู่ </p>
           
        </div>
        <img class="card-img-bottom" src="https://fq.lnwfile.com/wte981.jpg" alt="Card image cap">
    </div>
    <div class="card">
        <div class="card-body shadow">
            <h5 class="card-title">พิมพ์พระรอด </h5>
            <p class="card-text">พิมพ์พระรอด องค์หลวงปู่จะนั่งอยู่บนฐานบัว สังเกตฐานบัวจะมี 5 คู่ </p>
           
        </div>
        <img class="card-img-bottom" src="https://img-196.uamulet.com/uauctions/AU364/2019/3/1/U17017346368704345750776481.jpg" alt="Card image cap">
    </div> -->
</div>