<!-- Facebook Pixel Code -->
<!-- <script>
    ! function(f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function() {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '509997103029704');
    fbq('track', 'Preview');
</script>
<noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=509997103029704&ev=PageView&noscript=1"
      /></noscript> -->
<!-- End Facebook Pixel Code -->







<div class='mypixel' [innerHtml]="mypixel()">
</div>


<div class='mypixel_customer' [innerHtml]="pixel_customer()">
</div>
<ngx-spinner>
</ngx-spinner>
<div class="header">
    <img class="img-fluid wrapper-uploaded img-top w-100" [src]="imageheader" [hidden]="!imageheader">
</div>

<div class="wrapper-title-header-contact ">สั่งซื้อ</div>

<div class="Line pb-4" (click)="clickline(listdetail.line)">

</div>
<div class="Lineofficialid pb-4" (click)="clicklineofficialid(listdetail.lineofficialid)">

</div>
<div class="facebook" (click)="clickfacebook(listdetail.facebook)">

</div>

<div class="tel" (click)="clicktel(listdetail.tel)">

</div>
<div *ngFor="let item of productimage" class="text-center wrapper-image">
    <img src="{{item}}" class="w-100 border-product rounded" alt="Italian Trulli " [hidden]="!item">
</div>



<div class="owl-carousel owl-theme">
    <div *ngFor="let item of productimage">
        <div class="item">
            <img src="{{item}}" class="w-100 rounded" alt="Italian Trulli " [hidden]="!item">
        </div>
    </div>
</div>
<div class="wrapper-title-header-contact ">รีวิว ลูกค้า</div>
<div *ngFor="let item of slideimage" class="text-center wrapper-image">
    <img src="{{item}}" class="w-100 border-product rounded" alt="Italian Trulli " [hidden]="!item">
</div>
<div class="owl-carousel owl-theme">
    <div *ngFor="let item of slideimage">
        <div class="item">
            <img src="{{item}}" class="w-100 rounded" alt="Italian Trulli " [hidden]="!item">
        </div>
    </div>
</div>

<div class="Line pb-4" (click)="clickline(listdetail.line)">

</div>
<div class="facebook" (click)="clickfacebook(listdetail.facebook)">

</div>

<div class="tel" (click)="clicktel(listdetail.tel)">

</div>


<iframe *ngIf="Ishideyoutube" class="p-3" width="100%" height="500" frameBorder="0" [src]="urlyoutube"></iframe>

<div class="wrapper-title-header-contact ">ช่องทาง Shopee</div>
<div class="shopee" (click)="clickshopee(listdetail.shopee)">

</div>
<div class="wrapper-title-header-contact ">ช่องทาง LAZADA</div>
<div class="lazada" (click)="clicklazada(listdetail.lazada)">
</div>
<!-- <div *ngIf="Ishidefacebook">
    <div class="wrapper-title-header-contact ">เพจ</div>
    <iframe class="p-3" [src]="urlpagefacebook" width="100%" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
</div> -->
<div class="mapouter">
    <div class="wrapper-title-header-contact" *ngIf="Ishidemap">พิกัด แผนที่</div>
    <div class="gmap_canvas" *ngIf="Ishidemap">
        <iframe *ngIf="Ishidemap" class="p-3" width="100%" height="500" id="gmap_canvas" [src]="urlmap" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
    <style>
        .mapouter {
            position: relative;
            text-align: center;
            height: 500px;
            width: 100%;
        }
        
        .gmap_canvas {
            overflow: hidden;
            background: none !important;
            height: 500px;
            width: 100%;
        }
    </style>
</div>
<div style="margin-bottom: 5vh;"></div>


<footer>
    <div class="bg-footer">
        <div class="row">
            <div class="col wrapper-box-footer">
                <div class="Line-footer pb-4" (click)="clickline(listdetail.line)">

                </div>

            </div>
            <div class="col wrapper-box-footer">
                <div class="tel-footer pb-4" (click)="clicktel(listdetail.line)">

                </div>
            </div>
            <div class="col wrapper-box-footer">
                <div class="facebook-footer pb-4" (click)="clickfacebook(listdetail.line)">

                </div>
            </div>
        </div>
    </div>
</footer>


<!-- <div class="card-body">
            <h5 class="card-title"><br>{{listdetail.lazada}}</h5>
    </div> -->