<ngx-spinner>
</ngx-spinner>
<div class="wrapper-image-detail" *ngIf="listdetail!=null">
    <div class="wrapper-image">
        <img class="item img-fluid wrapper-image" [src]="listdetail.imageone">
        <img class="item img-fluid wrapper-image" [src]="listdetail.imagetwo">
        <img class="item img-fluid wrapper-image" [src]="listdetail.imagethree">
        <img class="item img-fluid wrapper-image" [src]="listdetail.imagefour">
    </div>
    <div class="container">

        <div class="wrapper-detial-price text-warning">

            ราคาเปิด {{listdetail.pricestart || 0 |number}} บาท
        </div>

        <div class="wrapper-detial-price" [hidden]="listdetail.status =='close'">
            ราคาปัจจุบัน {{listdetail.priceend || 0 |number}} บาท
        </div>
        <div class="wrapper-detial-pricesell">
            ราคาปิดด่วน {{listdetail.pricesell || 0 |number}} บาท
        </div>
        <div class="wrapper-detial-price text-white" [hidden]="!lastperson_bid.firstname && lastperson_bid.lastname">
            <div *ngIf="lastperson_bid.firstname == '' ">
                ล่าสุด ยังไม่มีผู้ประมูล..
            </div>
            <div *ngIf="lastperson_bid.firstname != '' ">
                ล่าสุด ลูกค้า !!คุณ {{lastperson_bid.firstname }} {{lastperson_bid.lastname }}
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center" *ngIf="lastperson_bid.pictureUrl!=null">
                <img class="card-img-top" [src]="lastperson_bid.pictureUrl" alt="Card image cap">
            </div>
        </div>

        <div class="wrapper-detial-price text-white" [hidden]="!lastperson_bid.firstname">
            <div>

            </div>
            <div *ngIf="lastperson_bid.tell!=''">
                โทร : {{lastperson_bid.tell}}
            </div>
        </div>

        <div class="wrapper-input p-3 " [hidden]="listdetail.status =='close'">
            <button (click)="clickclose()" #submitButton class="btn btn-secondary btn-lg btn-block  wrapper-font-btn">ปิดการขาย</button>
        </div>

        <div class="wrapper-input p-3 " [hidden]="listdetail.status =='close'">
            <button routerLink="/editorderpost/{{id_token}}/{{index_list_select}}" #submitButton class="btn btn-secondary btn-lg btn-block  wrapper-font-btn">แก้ไขข้อมูล</button>
        </div>
        <div class="text-success  wrapper-description">
            {{listdetail.description}}
        </div>

    </div>
</div>