<ngx-spinner>
</ngx-spinner>
<div class="wrapper-image-detail" *ngIf="listdetail!=null">
    <div class="owl-carousel owl-theme card">
        <img class="item img-fluid wrapper-image" [src]="listdetail.imageone">
        <img class="item img-fluid wrapper-image" [src]="listdetail.imagetwo">
        <img class="item img-fluid wrapper-image" [src]="listdetail.imagethree">
        <img class="item img-fluid wrapper-image" [src]="listdetail.imagefour">
    </div>
    <div class="container">

        <div class="wrapper-detial-price text-warning">

            ราคาเปิด {{listdetail.pricestart |number}}
        </div>

        <div class="wrapper-detial-price" [hidden]="listdetail.status =='close'">
            ราคาปัจจุบัน {{listdetail.priceend |number}}
        </div>
        <div class="wrapper-detial-price" [hidden]="listdetail.status !='close'">
            ราคาปิด {{listdetail.priceend |number}}
        </div>
        <div class="wrapper-detial-price text-white" [hidden]="!lastperson_bid.firstname && lastperson_bid.lastname">
            ล่าสุด ลูกค้า !!คุณ
            <div *ngIf="lastperson_bid != null ">
                {{lastperson_bid.firstname }} {{lastperson_bid.lastname }}
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center" *ngIf="lastperson_bid.pictureUrl!=null">
                <img class="card-img-top" [src]="lastperson_bid.pictureUrl" alt="Card image cap">
            </div>
        </div>

        <div class="wrapper-detial-price text-white" [hidden]="!lastperson_bid.firstname && lastperson_bid.lastname">
            <div>

            </div>
            <div *ngIf="lastperson_bid.tell!=null">
                โทร : {{lastperson_bid.tell}}
            </div>
        </div>

        <div class="wrapper-input p-3 " [hidden]="listdetail.status =='close'">
            <button (click)="closeOrder()" class="btn btn-secondary btn-lg btn-block  wrapper-font-btn">ปิดการขาย</button>
        </div>
        <div class="text-success  wrapper-description">
            {{listdetail.description}}
        </div>
        <div class="row">
            <div class="col text-center wrapper-tab" (click)="showdetail()">
                รายละเอียด
            </div>
            <div class="col text-center wrapper-tab" (click)="showcondition()">
                เงื่อนไข
            </div>
        </div>
        <div class="text-info" [hidden]="!ishowdetail">
            {{listdetail.pricestart}}
        </div>
        <div class="text-primary wrapper-primary" [hidden]="ishowdetail">
            {{listdetail.description}}
        </div>
    </div>
</div>