.wrapper-image-detail {
    text-align: center;
    padding-bottom: 100vh;
}

.wrapper-image {
    width: 100%;
    padding: 10px;
}

.wrapper-tab {
    font-size: 5vw;
    padding: 10px;
}

.wrapper-detial-price {
    font-size: 12vw;
    font-weight: 800;
    margin: 12px;
    color: #24ff42;
}

.wrapper-description {
    font-size: 12vw;
    color: white !important;
}

.card {
    background-color: black !important;
    margin-top: -4%;
}

.wrapper-primary {
    font-size: 9vw;
    font-weight: 800;
}

.wrapper-font-btn {
    font-size: 8vw;
}

.card-img-top {
    float: right;
    margin: 15px;
    width: 42%;
    border-radius: 50%;
    box-shadow: 1px 3px 17px 9px rgba(0, 0, 0, 0.5);
}